
*{
    font-family: 'Montserrat',sans-serif;

}

.navbar{
    background-color: #0F0C22;
}

.navbar-brand{
    font-size: 2rem;
    font-family: 'Vidaloka',serif;
    font-weight: bold;
    color: #E9EFC7;
    letter-spacing: 3px;
}

.jumbotron{
    height: 95vh;
    background-color: #0F0C22;
}

.name{
    height: 90vh;
    margin-top: -5vh;
}

.name .me{
    font-size: 2.5rem;
    font-family: 'Vidaloka',serif;
    font-weight: bold;
    color: #E9EFC7;
}

.name .desc{
    font-size: 1rem;
    font-weight: 400;
    color: #EFC454;
}

.name .cv-btn{
    margin-top: 0vh;
}

.container-fluid{
    background-color: #0F0C22;
}

.about{
    margin-top: -5vh;
}

.title-about{
    margin-top: 5vh!important;
    margin: auto;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: #f8d0a3;

}



.header{
    font-family: 'Vidaloka',serif;
    font-weight: bold;
    color:#EFC454;
    letter-spacing: 2px;
    padding: 0.5em;

    
}

.desc-me{
    font-weight: 300;
    style:normal;
    color:#E9EFC7;
    text-align: start;
    border: 10px solid ;
    border-color: transparent;
    
}

.desc-me span{
    font-weight: bold;
}

@media (max-width: 575.98px) { 
    .img1{
        display: none;
    }
    .img3{
        margin-left: 15vw;
        margin-top: -22vh;
        height: 65vh;
    }

    .desc-about{
       
    }

    .header{
        font-size: 1.3rem;
        text-align: start;
        border-bottom: 5px solid;
        margin-top: -25vh;
    }

    .desc-me{
        font-size: 0.6rem;
        text-align: end;
        margin-top: -37vmax;
    }

}
@media (min-width: 992px) { 

   

    .name .me{
        margin-top: 4vh;
        margin-left: 50vw;
        font-size: 7rem;
        font-family: 'Vidaloka',serif;
        font-weight: bold;
        color: #E9EFC7;
        letter-spacing: 6px;
    }

    .name .cv-btn{
        margin-top: 0vh;
        margin-left: 50vw;

    }

    .name .desc{
        margin-top: -1vh;      
        margin-left: 50vw;
        font-size: 2rem;
        font-weight: 400;
        color: #EFC454;
    }

    .name{

        background-image: url(img/bg-home.png);
        background-size: 60vw;
        background-repeat: no-repeat;
        margin-top: 5vh;
        margin-left: -5vh;
        height: 80vh;
    }

    .img3{
        display: none;
    }

    .title-about{
        font-size:3rem;
        
    }

    .header{
        font-size: 3.5rem;
        line-height: 4.5rem;
        text-align: end;
        border-right: 5px solid;
        border-width: 4px solid;
    }

    .desc-me{
        font-size: 1.5rem;
    }


 }

