*,html {
    background-color: #0F0C22;
}

.navbar{
    
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Vidaloka', serif;
}

.navbar-nav{
    font-size: 1.3rem;
    font-family:'Montserrat', sans-serif;
    font-weight: normal;
}

.home{
    height: 100vh;
    background-color: #0F0C22;
    margin-top: 10vh;
}

.name{
    font-family: 'Vidaloka', serif;
    font-weight: bold;
    color: #efeec7;
    font-size: 2.5rem;
    margin-top: 20px;
}

.btn-desc{
    margin-top: 45vh;
}

.btn-desc p {
    font-family:'Montserrat',sans-serif;
    font-size: 1.3rem;
    font-weight:500;
    color: #EFC454;
}